.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    background: #24292e;
    width: 100%;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    z-index: 99;
    white-space: nowrap;
    padding: 6px;
    font-family: 'Concert One', cursive;
    display: inline;
}

.nav-bar li {
    text-align: center;
    padding: 5px;
}

.nav-bar button {
    font-size: 2rem;
    background-color: transparent;
    width: 100px;
    height: 35px;
    border: 2px solid #fdd53e;
    cursor: pointer;
    text-align: center;
}

.nav-bar button:hover {
    background-color: #fdd53e !important;
}

.desc-normal {
    color: #fff;
    font-size: 3rem;
    text-shadow: 0 0 3vw #fdd53e;
}
